.profile-page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.to-setting-btn {
    width: 190px;
    text-decoration: none;
    display: flex;
    gap: 12px;
    align-items: center;
}
.to-setting-icon {
    width: 16px;
    height: 16px;
}
.profile-page__body {
    display: grid;
    grid-gap: 64px;
    grid-template-columns: 1fr 350px;
    padding: 24px;
}
.subscriber-avatar-btn
{
    img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
   
}
.subscriber-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.to-subscribers-search {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: relative;
    background-color: var(--light-color);

    &:before, 
    &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 8px;
        background-color: black;
    } 
    &:before {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
    }
    &:after {
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(90deg);
        left: 50%;
    }
}

.subs {
    display: flex;
    align-items: center;
    gap: 6px;
}
.to-subscribers-search :hover {
    cursor: pointer;
}

.stack-wrapper {
display: flex;
flex-direction: row;
gap: 4px;
flex-wrap: wrap;
}